/* .Modal {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content:center;
    top: 15%;
    left: 30%;
    right: 30%;
    bottom: auto;
    background-color: white;
    border-radius: 10px;
    transition: all 1s ease-in-out;
  }

  *:focus{
      outline: none;
  }

  .Overlay {
    position: fixed;
    opacity: 3;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  @media only screen and (max-width: 680px) {

    .Modal {
        position: absolute;
        top: 15%;
        left: 2%;
        right: 2%;
        bottom: 15%;
        border-radius: 10px;
      }
    

  } */